# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.dri
*.drl

#OSHPark Gerbers
*.gpi
*.gko
*.gt?
*.gb?
*.xln

#include gerbers from the specific gerber directory
! gerbers/*

#Save old versions, but leave them out of git
v?

gerber-files/
